<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>MAET ERP</title>

  <!--icheck-->
  <link th:href="@{js/iCheck/skins/minimal/minimal.css}" rel="stylesheet"/>
  <link th:href="@{js/iCheck/skins/square/square.css}" rel="stylesheet"/>
  <link th:href="@{js/iCheck/skins/square/red.css}" rel="stylesheet"/>
  <link th:href="@{js/iCheck/skins/square/blue.css}" rel="stylesheet"/>

  <!--data table-->
  <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />
  <link href="css/style.css" rel="stylesheet"/>
  <link href="css/style-responsive.css" rel="stylesheet"/>


  <link href="css/jquery.stepy.css" rel="stylesheet">



  <!--dashboard calendar-->
  <link th:href="@{css/clndr.css}" rel="stylesheet"/>

  <!--Morris Chart CSS -->
  <link rel="stylesheet" th:href="@{js/morris-chart/morris.css}"/>

  <!--common-->
  <link th:href="@{css/style.css}" rel="stylesheet"/>
  <link th:href="@{css/style-responsive.css}" rel="stylesheet"/>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script th:src="@{js/html5shiv.js}"></script>
  <script th:src="@{js/respond.min.js}"></script>
  <![endif]-->
</head>

<body class="horizontal-menu-page">

<section>
  <input type="hidden" th:value="${session.nowUserName}" id="nowUserName"/>
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <img src="images/logo.png" alt="">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li ><a onclick="findRule()">规则参数</a></li>
          <li ><a onclick="findMarket()">市场预测</a></li>
          <li ><a href="/">重新登陆</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!--<li>-->
            <!--<form class="navbar-form navbar-left" role="search">-->
              <!--<div class="form-group">-->
                <!--<input type="text" class="form-control" placeholder="Search">-->
              <!--</div>-->
            <!--</form>-->
          <!--</li>-->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="${session.nowUserName}">未登录</span><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">修改信息</a></li>
              <li><a data-toggle="modal" href="#modalUpdatePassword">修改密码</a></li>
              <li><a href="/">退出</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>


  <!--body wrapper start-->
  <div class="wrapper">

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div id="divTimeAxis"></div>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-8">
            <button class="btn btn-default" onclick="" type="button">贴现</button>
            <button class="btn btn-default" onclick="" type="button">商业情报</button>
            <button class="btn btn-default" onclick="" type="button">紧急采购</button>
            <button class="btn btn-default" onclick="" type="button">紧急出售</button>
            <button class="btn btn-default" onclick="" type="button">厂房贴现</button>
            <!--<button class="btn btn-primary" data-toggle="modal" href="#modalUpdatePassword" type="button" >修改密码</button>-->
            <button class="btn btn-defaule" data-toggle="modal" href="#modalReadRule" type="button" id="btnReadRule" style="display: none">查看规则</button>
            <button class="btn btn-defaule" data-toggle="modal" href="#modalReadMarket" type="button" id="btnReadMarket" style="display: none">查看市场</button>
          </div>
          <div class="col-md-4">
            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title" id="valueRunningTime">运营信息记录</h3>
              </div>
              <div class="panel-body" id="ajaxDiv1">
              </div>
            </div>
            <!--<button class="btn btn-primary" onclick="ajaxDivShow(2)" type="button">打开查询窗</button>-->
            <!--<button class="btn btn-danger" onclick="ajaxDivHide(2)" type="button">关闭查询窗</button>-->
            <!--<button class="btn btn-info" onclick="ajaxDivShow(3)" type="button">打开编辑窗</button>-->
            <!--<button class="btn btn-warning" onclick="ajaxDivHide(3)" type="button">关闭编辑窗</button>-->
          </div>
        </div>
      </div>

      <div class="col-md-12"><hr/></div>


    </div>
    <div class="row">
      <div class="col-md-8" id="divFactoryArea"></div>
      <div class="col-md-4" >
        <section class="panel">
          <header class="panel-heading no-border">
            财务信息
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
              <!--<a href="javascript:;" class="fa fa-times"></a>-->
              </span>
          </header>
          <div class="panel-body">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>现金</th>
                <th id="valueCash">0W</th>
              </tr>
              </thead>
            </table>
            <br>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>应收款</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>金额</th>
                <td id="valueReceivable1"></td>
                <td id="valueReceivable2"></td>
                <td id="valueReceivable3"></td>
                <td id="valueReceivable4"></td>
              </tr>
              </tbody>
            </table>
            <br>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>短贷</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <th>金额</th>
                <td id="valueShortDebt1"></td>
                <td id="valueShortDebt2"></td>
                <td id="valueShortDebt3"></td>
                <td id="valueShortDebt4"></td>
              </tr>
              </tbody>
            </table>
            <br>
            <div id="divLongDebtInfo"></div>
          </div>
        </section>
        <section class="panel">
          <header class="panel-heading no-border">
            库存信息
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
              <!--<a href="javascript:;" class="fa fa-times"></a>-->
              </span>
          </header>
          <div class="panel-body">
            <div id="divMaterialStock">原料库存表</div><br>
            <div id="divProductStock"></div><br>
            <div id="divMaterialPurchase"></div><br>
          </div>
        </section>
        <section class="panel">
          <header class="panel-heading no-border">
            研发信息
            <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down"></a>
              <!--<a href="javascript:;" class="fa fa-times"></a>-->
              </span>
          </header>
          <div class="panel-body">

          </div>
        </section>
      </div>
    </div>
    <div class="row" id="ajaxDiv2">
    </div>
    <div class="row" id="ajaxDiv3"></div>




    <!--Modal-->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalUpdatePassword" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <form method="post" name="userChangePassword" action="#">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalUpdatePassword">&times;</button>
              <h4 class="modal-title">修 改 密 码</h4>
            </div>
            <div class="modal-body">
              <p>输入新的密码后请按提交</p>
              <input type="password" autofocus="" placeholder="请输入新的密码" class="form-control" name="password" id="newPassword"/>
              <input type="hidden" name="newUsername" th:value="${session.nowUserName}"id="newUsername"/>
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
              <button class="btn btn-primary" type="button" onclick="updatePassword()" >提交</button>
            </div>
          </form>


        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalReadRule" class="modal fade">
      <div class="modal-dialog" style="width:900px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">查 看 规 则</h4>
          </div>
          <div class="modal-body" >
            <div id="divReadRule" style="height:500px;overflow: auto">

            </div>

          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
            <button class="btn btn-primary" type="button" onclick="" >调用</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalReadMarket" class="modal fade">
      <div class="modal-dialog" style="width:900px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">查 看 市 场</h4>
          </div>
          <div class="modal-body" >
            <div id="divReadMarket" style="height:500px;overflow: auto">

            </div>

          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
            <button class="btn btn-primary" type="button" onclick="" >调用</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalAdvertising" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">



          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalAdvertising">&times;</button>
            <h4 class="modal-title">投 放 广 告</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" name="advertisingForm" id="advertisingForm">

            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="oprateAdvertising(document.advertisingForm)">投放</button>
          </div>



        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalApplyLongDebt" class="modal fade">
      <div class="modal-dialog" style="width:250px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalApplyLongDebt">&times;</button>
            <h4 class="modal-title" style="text-align:center">申 请 长 贷</h4>
          </div>
          <div class="modal-body">
            <span>当前贷款额度：</span><span id="valueDebtLimit">  </span><span>W</span><br><br>
            <form action="#" method="post" name="longDebtForm" id="longDebtForm">
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateApplyLongDebt(document.longDebtForm)">申请</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalStartYear" class="modal fade">
      <div class="modal-dialog" style="width:500px">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalStartYear">&times;</button>
              <h4 class="modal-title" style="text-align: center">开 始 当 年</h4>
            </div>
            <div class="modal-body">
              <h3 style="text-align: center">准备好了，开始今年4个季度的经营！</h3>
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
              <button class="btn btn-primary" type="button" onclick="operateStartYear()" >确认</button>
            </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalStartQuarter" class="modal fade">
      <div class="modal-dialog" style="width:500px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalStartQuarter">&times;</button>
            <h4 class="modal-title" style="text-align: center">开 始 当 季</h4>
          </div>
          <div class="modal-body">
            <h3 style="text-align: center">准备好开始这个季度的经营！</h3>
            <h4 style="text-align: center">下面这些是即将进行的自动操作：</h4>
            <h5 style="text-align: center">1. 更新短期贷款、还本付息</h5>
            <h5 style="text-align: center">2. 更新生产、完工入库</h5>
            <h5 style="text-align: center">3. 生产线完工、转产完成</h5>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-primary" type="button" onclick="operateStartQuarter()" >确认</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalApplyShortDebt" class="modal fade">
      <div class="modal-dialog" style="width:250px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalApplyShortDebt">&times;</button>
            <h4 class="modal-title" style="text-align:center">申 请 短 贷</h4>
          </div>
          <div class="modal-body">
            <span>当前贷款额度：</span><span id="valueDebtLimit2">  </span><span>W</span><br><br>
            <input type='number' min='0' placeholder='贷款额' style='width:100px' class='form-control' name='shortDebtAmount' id='shortDebtAmount'>
            <!--<form action="#" method="post" name="longDebtForm" id="">-->
            <!--</form>-->

          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateApplyShortDebt()">申请</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalUpdatePurchase" class="modal fade">
      <div class="modal-dialog" style="width:250px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalUpdatePurchase">&times;</button>
            <h4 class="modal-title" style="text-align:center">更 新 原 材 料 订 单</h4>
          </div>
          <div class="modal-body">
            <span>需要支付原料采购费：</span><span id="valueUpdatePurchaseAmounts">  </span><span> W</span>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateUpdatePurchase()">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalAddPurchase" class="modal fade">
      <div class="modal-dialog" style="width:250px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalAddPurchase">&times;</button>
            <h4 class="modal-title" style="text-align:center">采 购 原 料</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" name="addPurchaseForm" id="addPurchaseForm">
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateAddPurchase(document.addPurchaseForm)">采购</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalNewFactory" class="modal fade">
      <div class="modal-dialog" style="width:400px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalNewFactory">&times;</button>
            <h4 class="modal-title" style="text-align:center">购 租 厂 房</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" name="newFactoryForm" id="newFactoryForm">
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateNewFactory(document.newFactoryForm)">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalNewLine" class="modal fade">
      <div class="modal-dialog" style="width:300px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalNewLine">&times;</button>
            <h4 class="modal-title" style="text-align:center">新 建 生 产 线</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" name="newLineForm" id="newLineForm">
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateNewLine(document.newLineForm)">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalBuildLine" class="modal fade">
      <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalBuildLine">&times;</button>
            <h4 class="modal-title" style="text-align:center">在 建 生 产 线</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" name="buildLineForm" id="buildLineForm">
              <table class='table table-bordered'>
                <thead>
                <tr>
                  <th><button type='button' class='btn btn-info' id="buildLineBoxCheckAll">全选</button></th>
                  <th style="text-align: center">生产线编号</th>
                  <th style="text-align: center">所属厂房</th>
                  <th style="text-align: center">生产线类型</th>
                  <th style="text-align: center">产品类型</th>
                  <th style="text-align: center">剩余投资期</th>
                  <th style="text-align: center">每期投资额</th>
                </tr>
                </thead>
                <tbody id="tbodyBuildLine">

                </tbody>
              </table>
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateBuildLine()">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalChangeLine" class="modal fade">
      <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalChangeLine">&times;</button>
            <h4 class="modal-title" style="text-align:center">生 产 线 转 产</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" name="changeLineForm" id="changeLineForm">
              <table class='table table-bordered'>
                <thead>
                <tr>
                  <th><button type='button' class='btn btn-info' id="changeLineBoxCheckAll">全选</button></th>
                  <th style="text-align: center">生产线编号</th>
                  <th style="text-align: center">所属厂房</th>
                  <th style="text-align: center">生产线类型</th>
                  <th style="text-align: center">产品类型</th>
                  <th style="text-align: center">转产周期</th>
                  <th style="text-align: center">转产费用</th>
                </tr>
                </thead>
                <tbody id="tbodyChangeLine"></tbody>
              </table>
              <br><br>
              <div id="divChangeLineProductSelect"></div>
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateChangeLine(document.changeLineForm)">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalContinueChange" class="modal fade">
      <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalContinueChange">&times;</button>
            <h4 class="modal-title" style="text-align:center">继 续 转 产</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" name="continueChangeForm" id="continueChangeForm">
              <table class='table table-bordered'>
                <thead>
                <tr>
                  <th><button type='button' class='btn btn-info' id="continueChangeBoxCheckAll">全选</button></th>
                  <th style="text-align: center">生产线编号</th>
                  <th style="text-align: center">所属厂房</th>
                  <th style="text-align: center">生产线类型</th>
                  <th style="text-align: center">产品类型</th>
                  <th style="text-align: center">剩余转产周期</th>
                  <th style="text-align: center">转产费用</th>
                </tr>
                </thead>
                <tbody id="tbodyContinueChange"></tbody>
              </table>
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateContinueChange()">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalSaleLine" class="modal fade">
      <div class="modal-dialog" style="width:800px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalSaleLine">&times;</button>
            <h4 class="modal-title" style="text-align:center">出 售 生 产 线</h4>
          </div>
          <div class="modal-body">
            <form action="#" method="post" name="saleLineForm" id="saleLineForm">
              <table class='table table-bordered'>
                <thead>
                <tr>
                  <th><button type='button' class='btn btn-info' id="saleLineBoxCheckAll">全选</button></th>
                  <th style="text-align: center">生产线编号</th>
                  <th style="text-align: center">所属厂房</th>
                  <th style="text-align: center">生产线类型</th>
                  <th style="text-align: center">产品类型</th>
                  <th style="text-align: center">使用时间</th>
                  <th style="text-align: center">净值</th>
                  <th style="text-align: center">残值</th>
                </tr>
                </thead>
                <tbody id="tbodySaleLine"></tbody>
              </table>
            </form>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateSaleLine()">确认</button>
          </div>
        </div>
      </div>
    </div>

    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="modalUpdateReceivable" class="modal fade">
      <div class="modal-dialog" style="width:500px">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="btnCloseModalUpdateReceivable">&times;</button>
            <h4 class="modal-title" style="text-align:center">更 新 应 收 款</h4>
          </div>
          <div class="modal-body">
            <div>
              <span style="font-weight: bold;font-size: 30px;margin-left: 25%">到期应收款：</span><span id="valueReceivableTotal" style="font-weight: bold;font-size: 30px">  </span><span style="font-weight: bold;font-size: 30px"> W</span>
            </div>
            <br><br>
            <h3 style="text-align: center">确认后将会跳转至季末操作！</h3>
          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">取消</button>
            <button class="btn btn-success" type="button" onclick="operateUpdateReceivable()">确认</button>
          </div>
        </div>
      </div>
    </div>



  </div>
  <!--body wrapper end-->

  <!--footer section start-->
  <footer>
    2017 &copy; <a href="https://cainsyake.github.io/" target="_blank">Cainsyake </a>
  </footer>
  <!--footer section end-->

</section>
<!--平台管理JS-->
<script src="js/erp-sub.js"></script>
<!--</script>-->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.stepy.js"></script>

<!--data table-->
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<!--Dashboard Charts-->
<script src="js/dashboard-chart-init.js"></script>

<!--script for editable table-->
<script src="js/editable-table.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $("#divFactoryArea").delegate(".panel .tools .fa","click",function(){
            var el = $(this).parents(".panel").children(".panel-body");
            if ($(this).hasClass("fa-chevron-down")) {
                $(this).removeClass("fa-chevron-down").addClass("fa-chevron-up");
                el.slideUp(200);
            } else {
                $(this).removeClass("fa-chevron-up").addClass("fa-chevron-down");
                el.slideDown(200); }
        });


    });
</script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });

    //反选JS
    $("#buildLineBoxCheckAll").click(function(){
        $("input[name='buildLineBox']").each(function(){
            if($(this).attr("checked"))
            {
                $(this).removeAttr("checked");
            }
            else
            {
                $(this).attr("checked","true");
            }
        })
    });




    /*=====STEPY WIZARD====*/
    $(function() {
        $('#default').stepy({
            backLabel: 'Previous',
            block: true,
            nextLabel: 'Next',
            titleClick: true,
            titleTarget: '.stepy-tab'
        });
    });
    /*=====STEPY WIZARD WITH VALIDATION====*/
    $(function() {
        $('#stepy_form').stepy({
            backLabel: '上一步',
            nextLabel: '下一步',
            errorImage: true,
            block: true,
            description: true,
            legend: false,
            titleClick: true,
            titleTarget: '#top_tabby',
            validate: true
        });
        $('#stepy_form').validate({
            errorPlacement: function(error, element) {
                $('#stepy_form div.stepy-error').append(error);
            },
            rules: {
                'name': 'required',
                'email': 'required'
            },
            messages: {
                'name': {
                    required: 'Name field is required!'
                },
                'email': {
                    required: 'Email field is requerid!'
                }
            }
        });
    });
</script>

</body>
</html>
